<h2>Search for Flights</h2>

<%= form_with url: '/flights', method: 'get' do |f| %>
  <%= f.label :departure_airport, "Departing From: " %>
  <%= f.select(:departure_airport, @airport_options) %>

  <%= f.label :arrival_airport, "Arriving at: " %>
  <%= f.select(:arrival_airport, @airport_options) %>

  <%= f.label :departure_date, "Departure Date: " %>
  <%= f.select(:departure_date, @date_options) %>

  <%= f.label :num_passengers, "Passengers: " %>
  <%= f.select(:num_passengers, (1..8).map { |i| [i, i] }, ) %>

  <%= f.submit "Search", :name => nil %>
<% end %>

<div>
<% @flights.each do |flight| %>

</div>

