<h2>Search for Flights</h2>

<%= form_with url: '/flights', method: 'get' do |f| %>
  <%= f.label :departure_airport, "Departing From: " %>
  <%= f.select(:departure_airport, @airport_options, :selected => params[:departure_airport]) %>

  <%= f.label :arrival_airport, "Arriving at: " %>
  <%= f.select(:arrival_airport, @airport_options, :selected => params[:arrival_airport]) %>

  <%= f.label :departure_date, "Departure Date: " %>
  <%= f.select(:departure_date, @date_options, :selected => params[:departure_date]) %>

  <%= f.label :num_passengers, "Passengers: " %>
  <%= f.select(:num_passengers, (1..8).map { |i| [i, i] }, :selected => params[:num_passengers]) %>

  <%= f.submit "Search", :name => nil %>
<% end %><br>

<h2>Available Flights</h2>

<%= form_with url: new_booking_path, method: 'get' do |b| %>
  <%= b.hidden_field(:num_passengers, value: params[:num_passengers]) %>
  <table>
    <tr>
      <th>Select</th>
      <th>Flight Number</th>
      <th>Departure Airport</th>
      <th>Arrival Airport</th>
      <th>Departure Date</th>
    </tr>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= b.radio_button(:flight_id, flight.id) %></td>
        <td><%= flight.id %></td>
        <td><%= flight.departure_airport.code %></td>
        <td><%= flight.arrival_airport.code %></td>
        <td><%= flight.flight_date_formatted %></td>
      </tr>
    <% end %>
  </table>
  <% unless @flights.empty? %>
    <%= b.submit "Book Flight" %>
  <% end %>
<% end %>



  