<div data-passenger-target="passengerRow">
  <div>
    <%= f.label :firstname, "First Name: " %>
    <%= f.text_field :firstname %>
  </div>

  <div>
    <%= f.label :lastname, "Last Name: " %>
    <%= f.text_field :lastname %>
  </div>

  <div>
    <%= f.label :email, "Email Address: " %>
    <%= f.email_field :email %>
  </div>
  <br>
</div>
